<%- include("templates/header") %>
<div class="container p-5">
    <div class="card bg-body-tertiary p-2 comfortaaBold">
        <div class="d-flex align-items-center justify-content-center text-center">
            <div>
              <p>Your password reset email has been sent successfully. Please check your email for instructions on how to reset your password.</p>
              <p class="p-2">If you don't see the email in your inbox, please also check your spam folder.</p>
            </div>
          </div>          
    </div>
</div>