<div class="container py-5 text-center">
    <div class="col-lg-6 mx-auto mt-4 ostrichFontBlack">
        -Placeholder- Hey, do you have any of the commonly expired items, or just find a recipe -Placeholder-
    </div>
    <div class="mt-4">
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="milk"> Milk
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="bread"> Bread
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="eggs"> Eggs
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="yogurt"> Yogurt
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="cheese"> Cheese
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="lettuce"> Lettuce
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="tomatoes"> Tomatoes
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="potatoes"> Potatoes
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="bananas"> Bananas
            </label>
            <label class="btn btn-outline-primary">
                <input type="checkbox" name="expiredItem" value="chicken"> Chicken
            </label>
        </div>
    </div>
</div>
