<%- include("templates/header") %>

<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-8 col-lg-6 col-xl-4 px-4 py-2">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col">
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary text-center" action="/password/forgot-password" method="post">
                    <p class="comfortaaBold">Enter your email address and we'll send you a link to reset your password.</p>
                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                        <label class="comfortaaBold" for="floatingInput">Email address</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary comfortaaBold" type="submit">Send Reset Password Email</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("templates/footer") %>
