<%- include("templates/header") %>
<div class="d-flex justify-content-start mt-1 ps-3">
    <!-- Added container div with flex utility classes -->
    <button class="btn btn-sm" style="color: white; background-color: royalblue;" onclick="updateFindRecipes(false)">Back</button>
</div>
<!-- Home page content -->
<div class="container py-2 text-center">
    <div class="col-lg-6 mx-auto mt-2 ostrichFontBlack bg-body-tertiary">
        What are we making today?
    </div>
    <form class="w-100 mx-auto mt-2" id="form" role="userInput" method="POST" action="/home/addIngredient">
        <div class="input-group">
            <input class="form-control comfortaaBold" type="text" id="ingredientInput" name="ingredient"
                placeholder="Enter ingredient" style="border-radius:50px;">
        </div>
    </form>

    <div id="suggestions"></div>
    <br>
    <div style="background-color: plum; border-radius: 10px; padding-left: 2%">
        <%- include('templates/ingredients', {ingredients: ingredients}) %>
    </div>
    <form class="mt-4" method="POST" action="/home/clearIngredients">
        <button class="btn btn-danger">Clear Ingredients</button>
    </form>
    <form class="mt-2" method="POST" action="/recipes">
        <input type="hidden" id="ingredientsInput" name="ingredients" value="<%= JSON.stringify(ingredients) %>">
        <button class="btn btn-success">Find Recipes</button>
    </form>
</div>

<script src="/scripts/home.js"></script>
<script src="/scripts/topTen.js"></script>
<%- include("templates/footer") %>