<%- include("templates/header") %>

<!-- Home page content -->
<div class="container text-center">
    <div class="col-lg-6 mx-auto ostrichFontBlack bg-body-tertiary" style="border-radius: 10px; font-size: large;">
        Let us help you: cook smart, waste less, savor more!
    </div>
    <form class="w-100 mx-auto mt-2" id="form" role="userInput" method="POST" action="/home/addIngredient">
        <div class="input-group">
            <input class="form-control comfortaaBold" type="text" id="ingredientInput" name="ingredient"
                placeholder="Enter ingredient" style="border-radius:50px;">
        </div>
    </form>

    <div id="suggestions"></div>
    <br>
    <div style="background-color: plum; border-radius: 10px; padding-left: 2%">
        <%- include('templates/ingredients', {ingredients: ingredients}) %>
    </div>
    <form class="mt-4" method="POST" action="/home/clearIngredients">
        <button class="btn btn-danger">Clear All</button>
    </form>
</div>

<div class="container-fluid px-4">
    <div class="d-flex justify-content-between mt-2">
        <button class="btn btn-sm" style="background-color: rgb(153, 77, 191); color: white;" onclick="updateFindRecipes(false)">
            <i class="bi bi-arrow-left-circle"></i> Reduce Waste
        </button>
    
        <form method="POST" action="/recipes">
            <input type="hidden" id="ingredientsInput" name="ingredients" value="<%= JSON.stringify(ingredients) %>">
            <button class="btn btn-sm" style="background-color: rgb(212, 85, 195); color: white;"> Find Recipes <i class="bi bi-arrow-right-circle"></i></button>
        </form>
    </div>
</div>

<script src="/scripts/home.js"></script>
<script src="/scripts/topTen.js"></script>
<%- include("templates/footer") %>
