<!-- Prints ingredients -->
<% if (ingredients.length > 0) { %>
  <div class="text-start">
    <h2>Ingredients:</h2>
    <ul>
        <% for (let i = 0; i < ingredients.length; i++) { %>
            <li><%= ingredients[i] %></li>
        <% } %>
    </ul>
  </div>
  <form class="w-100" method="POST" action="/home/clearIngredients">
    <button class="btn btn-danger">Clear Ingredients</button>
  </form><br>
  <form class="w-100" method="POST" action="/home/recipes">
    <button class="btn btn-success">Find Recipes</button>
  </form>
<% } %>
