<%- include("templates/header") %>

<div class="container col-xl-10 col-xxl-8 px-4 py-2" style="padding-bottom: 20%">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action='/join/loggingin' method='post'>
        <div class="form-floating mb-3">
          <input name='email' type="email" class="form-control ostrichFontBlack" id="floatingInput"
            placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input name='password' type="password" class="form-control ostrichFontBlack" id="floatingPassword"
            placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary ostrichFontBlack" style="background-color: rgb(212, 85, 195);" type="submit">Sign In</button>
        <div class="text-center mt-3">
          <a href="/password/forgot-password" class="text-body-secondary small-link" style="color: blue;">Forgot your password?</a>
        </div>
        <hr class="my-4">
        <small class="text-body-secondary comfortaaBold">By clicking Sign In, you agree to the terms of use.</small>
      </form>
    </div>
  </div>
</div>

<%- include("templates/footer") %>