<div class="container pt-1 pb-5">
    <div class="card bg-body-tertiary p-2">
        <div class="d-flex align-items-center justify-content-between">
            <h3 class="mb-0">Hello,</h3>
        </div>
        <div class="card-body">
            <p>You have requested a password reset for your account. Please follow the instructions below to reset your
                password:</p>
            <ol>
                <li>Visit the password reset page by clicking on the link below:<br>
                    <a href="<%= resetLink %>">Reset Link</a>
                </li>
                <li>You will be directed to a page where you can enter your new password.</li>
            </ol>
            <p>If you did not initiate this password reset request, please ignore this email. No further action is
                required.</p>
            <p>Best,<br>
                - The Entreepreneur Team</p>
        </div>
    </div>
</div>