<%- include("templates/header") %>

<video id="videoElement" autoplay></video>
<canvas id="canvasElement" style="display: none;"></canvas>
<button id="captureButton">Capture</button>
<div id="imageContainer"></div>


<script src="/scripts/webcam.js"></script>
<%- include("templates/footer") %>