<% if (ingredients.includes('rose petals') && ingredients.includes('cremini mushroom') && ingredients.includes('porcini mushroom') && ingredients.includes('bread bowl')) { %>
    <div class="card mt-3 p-2" style="background-image: url(/img/wooden_planks2.jpg); border-radius: 0px; border-color: transparent;">
        <div class="card-body">
            <h5 class="card-title" style="font-family: mcReg; font-size: 200%">Special Recipe</h5>
            <p class="card-text" style="font-family: mcReg; font-size: 180%">You've made yourself quite a concoction! Try crafting this special dish.</p>
            <a href="#" class="btn" style="align-items: center; font-family: mcItalic; font-size: 180%; text-decoration: underline" onclick="showCustomCard(event)">View Recipe</a>
        </div>
    </div>
    <div class="container align-items-center justify-content-between mt-2 p-2">
    <div id="customCard" class="card hidden p-2" style="background-image: url(/img/mushroomBlock.png); 
        background-size: 100%; background-repeat: repeat; border-radius: 0px; text-align:justify; font-family: mcReg; color: black">
            <img src="/img/sus_stew.png" style="max-width: 100%">
            <div class="d-flex align-items-center justify-content-between">
              <h1>Suspicious Stew</h1>
            </div>
            <p><strong>Time:</strong> ??? minutes</p>
          
            <p><strong>Ingredients:</strong></p>
            <ul class>
              <li>Rose Petals</li>
              <li>Porcini Mushroom</li>
              <li>Cremini Mushroom</li>
              <li>Bread Bowl</li>
            </ul>
          
            <p><strong>Nutrition:</strong></p>
            <ul>
              <li>Blindness: [5-7 Seconds]</li>
              <li>Jump Boost [7-10 Seconds]</li>
              <li>Weakness [6-8 Seconds]</li>
              <li>Night-Vision [7-10 Seconds]</li>
            </ul>
          
            <p><strong>Steps:</strong></p>
            <ol>
              <li>Step 1: Place Porcini Mushroom onto [Crafting Table]</li>
              <li>Step 2: Place Crimini Mushroom onto [Crafting Table]</li>
              <li>Step 3: Place Rose Petals onto [Crafting Table]</li>
              <li>Step 4: Place Bread Bowl onto [Crafting Table]</li>
              <li>Step 5: Wait ??? second(s), and your stew will be complete.</li>
            </ol>
          
            <p><strong>Description:</strong></p>
            <p>This is a unique food item that can give the player a status effect that depends on the flower used to craft it. Viewable only.</p>
    </div>
</div>
    <% } %>