<% if (ingredients.length > 0) { %>
  <div class="ingredient-list">
    <% for (let i = 0; i < ingredients.length; i++) { %>
      <div id="ingredientItem-<%= i %>" class="ingredient-item d-flex align-items-center justify-content-between comfortaaBold">
        <span class="me-2"><%= ingredients[i] %></span>
        <button class="btn btn-sm btn-outline-danger comfortaaBold" style="border-radius: 100px" onclick="removeIngredient(<%= i %>)">x</button>
      </div>
    <% } %>
  </div>
<% } %>
